<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/estiloConsulta.css">
</head>
<body>
    <div class="conteudoGeral">
        <div class="cabecalho">
            <nav class="navegacao">
                <ul>
                    <li><a href="/inicio">Inicio</a></li>
                    <li><a href="/cliente">Cadastro</a></li>
                    <li><a href="/consulta_clientes">Consulta</a></li>
                </ul>
            </nav>
            <div class="margem">

            </div>
            <div class="perfil">
                <div class="foto_de_perfil" tabindex="0">
                    <img src="/static/assets/{{ foto_perfil }}" alt="">
                </div>
                <div class="menu">
                    <ul>
                        <li>{{ nome_usuario }}</li>
                        <li><a href="/logout">Sair</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <h1>Consulta cliente</h1>
        <div class="exibicao">
            <div class="tabela">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    {% for cliente in clientes %}
                    <tbody>
                        <tr>
                            <td>{{ cliente[1] }}</td>
                            <td>{{ cliente[2] }}</td>
                            <td>{{ cliente[3] }}</td>
                            <td>
                                <div class="opcoes">
                                    <a href="/ver_mais_cliente/{{ cliente[0] }}"><img src="/static/assets/vermais.png" alt=""></a>
                                    <a href="/editar_cliente/{{ cliente[0] }}"><img src="/static/assets/editar.png" alt=""></a>
                                    <a href="/excluir_cliente/{{ cliente[0] }}"><img src="/static/assets/excluir.png" alt=""></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>