<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
</head>
<body>
    <nav>
    </nav>
    </div>
    <div class="tela_verde">
        <div class="input">
            <form action="/login" method="post">
                <div class="user-icon"> 
                    <img src="/static/assets/pessoa.png" alt="foto_login" style="width:100px;">
                </div>
                <div class="form">
                    <input type="text" name="usuario" id="usuario" placeholder="Usuario" required>
                </div>

                <div class="form">
                    <input type="password" name="senha" id="senha" placeholder="Senha" required>
                </div>

                <button type="submit">Entrar</button>
                <p class="cadastro">Não tem um conta? <br> <a href="/cadastro">Cadastre-se</a></p>
            </form>
        </div>
    </div>

    <div class="tela_branca">
        <img src="/static/assets/imagem.gif" alt="" class="foto">
    </div>
</body>
</html> 